useDynLib(MRIaggr)

# import
import(Rcpp)
import(methods)
importFrom("stats4","summary")

# export fonctions
export(
	"constCarto3D",
	"constMRIaggr",
	"constLatex",
	"array2df",
	"Carto3D2MRIaggr",
	"df2array",
	"calcAUPRC",
	"calcGR",
	"calcGroupsCoords",
	"calcGroupsW",
	"calcThreshold",	
	"initFilter",
	"initNeighborhood",
	"outline",
	"pointsOutline",
	"readMRI",
	"writeMRI"
	)

# export classes
exportClasses(
	"MRIaggr",
	"Carto3D"
	)
	
# export Methodes
exportMethods(
	"allocContrast<-",
	"allocClinic<-",
	"allocDescStats<-",
	"allocHemisphere<-",
	"allocNormalization<-",
	"allocTable<-",
	"calcBrainMask",
	"calcContralateral",
	"calcDistTissues",
	"calcDistMask",
	"calcFilter",
	"calcGroupsMask",
	"calcHemisphere",	
	"calcNormalization",
	"calcRegionalContrast",
	"calcROCthreshold",
	"calcSmoothMask",
	"calcTableHypoReperf",
	"calcTableLesion",
	"calcThresholdMRIaggr",
	"calcTissueType",
	"calcW",
	"constCompressMRIaggr",
	"constReduceMRIaggr",
	"boxplotMask",
	"heatmapMRIaggr",
	"multiplot",
	"outlineMRIaggr",
	"plotDistClass",
	"pointsHemisphere",
	"plotLesion3D",
	"plotTableLesion",
	"selectContrast",
	"selectCoords",
	"selectClinic",
	"selectDefault_value",
	"selectDescStats",
	"selectHemispheres",
	"selectHistory",
	"selectIdentifier",
	"selectMidplane",
	"selectN",
	"selectNormalization",
	"selectParameter",
	"selectTable",
	"selectParameter",
	"selectFieldDim",
	"selectVoxelDim",
	"summary",
	"supprContrast<-",
	"supprDescStats<-",
	"writeMRIaggr"
)
